body{
	text-align: center;
}
pre{
	padding: 15px 15px 15px 15px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

ul {
	list-style: none;
	text-align: left;
}

ul li{
	padding-left: 10px;
}

a:hover{
	text-decoration: underline;
}

.container{
	display: inline-block;
}

/* #bg{
	background-color: #4f555e;
	box-shadow: 10px 10px 5px #2b2b2b;
	border-radius: 25px;
} */
