.container-test{
  width: 50%;
  height: 200px;
  margin: 0 auto 20px;
  background: #557B83;
  border-radius: 10px;
	box-shadow: 0px 0px 49px -5px rgba(0,0,0,.75);
}

.container-test p {
  padding: 10px;
  color: #E5EFC1;
  font-size: 19px;
}

.container-test span {
  font-weight: bold;
  color: #39AEA9;
}

table{
	margin: auto auto 50px auto;
}
