/* NOTE: Gradient Colors
	1. #5B5151
	2. #557B83
	3. #39AEA9  --buttons
	4. #A2D5AB
	5. #E5EFC1  --white text
	   #2D8B87  --buttons:hover
 */

/* NOTE:  Navigation bar on all pages */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.navbar-main{
	width: 100%;
	margin: 0 auto;
	background: #fffcf7;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
	position: sticky;
	top: 0;
}

.navbar-main ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	text-align: left;
}

.navbar-main li{
	display: inline-block;
}

.navbar-main a{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: .80em 1.75em;
	color: #04080f;
	text-decoration: none;
	transition: background-color, 1s;
}

.navbar-main a:after{
	content: "";
	width: 0px;
	height: 1px;
	display: block;
	background: #04080f;
	transition: 300ms;
}

.navbar-main a:hover:after{
	width: 100%;
}
